.section{
  background-color: #d3d4db;
  border-radius:10px;
  padding:40px 10px 10px 10px;
  text-align: center;
}

.part{
  border-left: thick solid #d3d4db;
  margin-bottom:20px;
}

.subpart{
  padding: 10px 60px 0px 60px;
  margin-bottom:20px;
}

#Achivements{
  margin-bottom: 50px;
}

.round_img{
  border-radius: 50%;
}
